# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
tfplan

# Python
venv/
__pycache__/
*.pyc

# Local temp files
last_glue_run_id.txt
*.log
*.tmp

# Large data files
# Ignore CSVs in data/ and scripts/data/ folders (large datasets)
data
scripts/data/*.csv

# Secrets
secrets.auto.tfvars
.env
*.pem
*.key

# macOS junk
.DS_Store
